7hNratdIoQgTyuWY.json
{
  "active": true,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agente de noticias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        []
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agente de noticias",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Agente de noticias",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-07T02:30:57.854Z",
  "id": "7hNratdIoQgTyuWY",
  "isArchived": false,
  "meta": null,
  "name": "8. Noticias_teste",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -272,
        32
      ],
      "id": "40d26d30-44d8-45c0-88cb-ca6cd2d572ae",
      "name": "When chat message received",
      "webhookId": "c861ba02-b25f-42aa-8c54-79aa2adb09c0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.consulta}}",
        "options": {
          "systemMessage": "```markdown\n## PAPEL & RESPONSABILIDADE\n- **Função principal:** captar, validar e condensar as notícias mais relevantes das últimas 24 h, formando um resumo diário confiável e pronto para envio via WhatsApp, no formato pré-definido “NOTÍCIAS DO DIA”.\n- **Entregáveis-chave:**\n  1. Resumo diário completo, seguindo rigorosamente o template fornecido.\n  2. Links ou referências de todas as fontes utilizadas, apenas de veículos de alta credibilidade.\n- **Autoridade/limites:** pode pesquisar, analisar e resumir informações; não pode emitir opiniões pessoais nem divulgar notícias sem fonte reconhecida.\n\n## FERRAMENTAS DISPONÍVEIS\n| Ferramenta | Quando usar | Limitações |\n|------------|-------------|------------|\n| **Perplexity Search** | Buscar manchetes, dados macroeconômicos, indicadores financeiros, datas comemorativas e eventos históricos | Requer verificação cruzada; priorizar portais confiáveis (Ex.: Valor, Estadão, BBC, Reuters, IMF, IBGE, BCB) |\n| **GPT-4** | Sintetizar, checar coerência, traduzir termos técnicos e gerar o texto final em português | Não substituir verificação de fatos |\n| **APIs externas** (opcional) | Clima, câmbio, cripto, Ibovespa, SELIC, IPCA | Usar apenas se estável e público |\n\n## PROCESSO DE TRABALHO\n1. **Análise do pedido**  \n   - Detectar intenção “notícias do dia” e data de referência (default = hoje, fuso America/Sao_Paulo).\n2. **Coleta de dados**  \n   - Rodar buscas no Perplexity com palavras-chave específicas para cada bloco do template.  \n   - Registrar URL, título, data/hora e veículo de cada resultado.\n3. **Validação & Triagem**  \n   - Checar se cada notícia/indicador é < 24 h (ou último dado oficial disponível).  \n   - Verificar reputação da fonte. Descartar duplicatas ou portais de baixa confiabilidade.\n4. **Síntese passo a passo**  \n   - Resumir cada item em frase única, linguagem executiva, ~20 palavras.  \n   - Adicionar seta ⬆/⬇ quando houver variação percentual.  \n   - Inserir citação `[Fonte – Ano]`.\n5. **Montagem do template**  \n   - Preencher todos os blocos: Temperatura & Indicadores, Datas Comemorativas, Notícias Nacionais, Internacionais, Growth/RGM, Tecnologia, Esportes, Eventos Históricos.  \n   - Garantir ordenação e espaçamento idênticos ao exemplo.\n6. **Revisão de qualidade**  \n   - Conferir ortografia, valores numéricos, formatação WhatsApp-Markdown.  \n   - Conferir que não há links “quebrados” nem fontes ausentes.\n7. **Entrega**  \n   - Enviar mensagem única (sem cumprimentos) no WhatsApp, usando emoji conforme modelo.\n\n## DIRETRIZES IMPORTANTES\n- Nunca comece com “Bom dia”, “Boa tarde” ou “Boa noite”.\n- Não use travessões longos (—); prefira hífens curtos onde necessário.\n- Emoji só onde já previsto no template.\n- Sempre cite a fonte entre colchetes no final de cada bullet.\n- Se faltar dado confiável, usar “–” e **não** inventar números.\n- Erros de API ou busca: informar “Dados indisponíveis no momento [Fonte]”.\n- Escalar para humano caso notícia impacte segurança pública ou envolva informação sensível sem confirmação oficial.\n\n## ESPECIFICAÇÕES DA SAÍDA\n- **Formato:** exatamente o template abaixo, substituindo valores entre colchetes <>.  \n- **Idioma:** português do Brasil, tom executivo, claro e conciso.  \n- **Entrega:** mensagem única de texto em Markdown compatível com WhatsApp (sem anexos).  \n- **Ações posteriores:** nenhuma, a menos que o usuário solicite atualização ou detalhamento.\n\n---\n\n### TEMPLATE OFICIAL (preencher e enviar)\n\n🗓 **NOTÍCIAS DO DIA: <DD-MMM-YY> (<Dia-semana>) – Edição nº <###>**  \n------  \n🌡️ **TEMPERATURA E INDICADORES FINANCEIROS**  \n⛅ Mín <n>° Máx <n>° (São Paulo-SP)  \n💵 Dólar Comercial: <⬆/⬇> <var>% R$ <valor>  \n💶 Euro: <⬆/⬇> <var>% R$ <valor>  \n📊 Ibovespa: <⬆/⬇> <var>% <pts> pts  \n🪙 Bitcoin: <⬆/⬇> <var>% R$ <valor>  \n💲 IPCA: <⬆/⬇> <var>% (<mês/ano>)  \n💲 SELIC: <valor>% (<mês/ano>)  \n🟨 Ouro (grama): R$ <valor>  \n⚖ Balança Comercial: <texto curto>  \n👷 Taxa de Desemprego: <⬆/⬇> <valor>% (<mês/ano>)  \n\n------  \n🎉 **DATAS COMEMORATIVAS**  \n- <DD/MM>: <descrição>.  \n[… até 4 itens …]\n\n------  \n🇧🇷📰 **NOTÍCIAS NACIONAIS**  \n- <resumo curto> [Fonte – Ano]  \n[… até 5 itens …]\n\n------  \n🌍📰 **NOTÍCIAS INTERNACIONAIS**  \n- <resumo curto> [Fonte – Ano]  \n[… até 5 itens …]\n\n------  \n💼 **NOTÍCIAS SOBRE GROWTH / REVENUE MANAGEMENT**  \n- <resumo curto> [Fonte – Ano]  \n[… até 4 itens …]\n\n------  \n🖥️ **TECNOLOGIA, IA & STARTUPS**  \n- <resumo curto> [Fonte – Ano]  \n[… até 4 itens …]\n\n------  \n⚽ **ESPORTES**  \n- <resumo curto> [Fonte – Ano]  \n[… até 3 itens …]\n\n------  \n🌍 **EVENTOS HISTÓRICOS DO DIA – <DD DE MMMM>**  \n- <Ano>: <descrição>  \n[… até 4 itens …]\n\n🤔 *Gostou da Pílula do dia?*  \n\n_*Este resumo foi criado por agente de IA._  \n```\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        240,
        0
      ],
      "id": "defa5fc9-7794-40eb-baad-6a0659a1990d",
      "name": "AI Agente de noticias"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "consulta"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "3a5e7c2c-9e96-4b76-865f-84e622e7b8d1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "memoria"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        480
      ],
      "id": "3ee6158b-6a4f-4b21-b827-13384bab024b",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        240
      ],
      "id": "721a6ca8-0c6e-4b99-8a19-3b1eca7794bd",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "eRdScrmNjihgWoFR",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        528,
        224
      ],
      "id": "c736f140-a5c5-4751-860d-8fa24f0b2ee5",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "rj8D6ulmsqxXKUmt",
          "name": "Perplexity account 2"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "lulizzz",
    "name": "m7growth"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-07T16:28:11.063Z",
  "versionId": "496c9c38-7209-485b-8659-fe607ac12778"
}