Japopv2e1shA1zU9.json
{
  "active": true,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastro de GRUPOS": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastro de Usuario": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-04T02:20:43.088Z",
  "id": "Japopv2e1shA1zU9",
  "isArchived": false,
  "meta": null,
  "name": "CADASTRO DE USUARIOS PARA O AGENTE",
  "nodes": [
    {
      "parameters": {
        "tableId": "active_group_registration_OFICIAL",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "group_status",
              "fieldValue": "={{ $json['Status do Grupo'] }}"
            },
            {
              "fieldId": "Nome do group",
              "fieldValue": "={{ $json['nome do grupo '] }}"
            },
            {
              "fieldId": "group_ids",
              "fieldValue": "={{ $json['ID do  Grupo'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        260,
        -120
      ],
      "id": "9de7b7b2-03df-4d5b-b81f-ee66721d9688",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "6SVrwqEuLHDsNj03",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd27aa7d-cb80-45c1-ac93-26dfc2764efe",
              "name": "ID do  Grupo",
              "value": "={{ $json.body.data.fields[1].value }}",
              "type": "string"
            },
            {
              "id": "86c37a2d-c3bf-4952-bdc1-4da94fbe5389",
              "name": "nome do grupo ",
              "value": "={{ $json.body.data.fields[0].value }}",
              "type": "string"
            },
            {
              "id": "68ddef09-f4e0-4d0f-9a80-7ba996e8a1c0",
              "name": "=Status do Grupo",
              "value": "={{ $json.body.data.fields[2].value[0] === '222b1a35-c68d-4fd4-8f14-2beb1282a03a' ? 'Active' : $json.body.data.fields[2].value[0] === 'bf957118-9d60-43c5-b976-1801a66473af' ? 'Blocked' : $json.body.data.fields[2].value[0] === 'fbe6c9fd-06ec-493a-b0e6-4f97ab5ad76b' ? 'Inactive' : 'Desconhecido' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        -120
      ],
      "id": "61c41736-d45f-4e6c-927b-3dcb85866324",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "active_tel_OFICIAL",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "group_status",
              "fieldValue": "={{ $json['Status do Grupo'] }}"
            },
            {
              "fieldId": "Nome do group",
              "fieldValue": "={{ $json['nome do grupo '] }}"
            },
            {
              "fieldId": "group_ids",
              "fieldValue": "={{ $json['ID do  Grupo'] }}"
            },
            {
              "fieldId": "Tipo",
              "fieldValue": "chat"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        260,
        100
      ],
      "id": "91ffabbc-849e-4cfe-980e-79d89c624040",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "6SVrwqEuLHDsNj03",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd27aa7d-cb80-45c1-ac93-26dfc2764efe",
              "name": "ID do  Grupo",
              "value": "={{ $json.body.data.fields[1].value }}",
              "type": "string"
            },
            {
              "id": "86c37a2d-c3bf-4952-bdc1-4da94fbe5389",
              "name": "nome do grupo ",
              "value": "={{ $json.body.data.fields[0].value }}",
              "type": "string"
            },
            {
              "id": "68ddef09-f4e0-4d0f-9a80-7ba996e8a1c0",
              "name": "=Status do Grupo",
              "value": "={{ $json.body.data.fields[2].value[0] === '60cee71d-c3ac-4821-95b2-7ee2c9d2939d' ? 'Active' : $json.body.data.fields[2].value[0] === '2863eb3b-ed96-4557-b5ad-e3313a393518' ? 'Blocked' : $json.body.data.fields[2].value[0] === 'bb1f8172-ea23-441c-8084-3bef6f14edd4' ? 'Inactive' : 'Desconhecido' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        100
      ],
      "id": "58423a6b-0fa4-494b-bad0-6513d9421551",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cadastro_de_grupos",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -180,
        -120
      ],
      "id": "fbb145b3-5405-4c8a-93fc-24f8c9ebe7b6",
      "name": "Cadastro de GRUPOS",
      "webhookId": "a92c7a0c-d4a6-4914-9261-1fd872219ed9"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cadastro_de_usuarios",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -180,
        100
      ],
      "id": "0a73e1ec-8ba8-4d5a-a4c9-8dafe5ca7b87",
      "name": "Cadastro de Usuario",
      "webhookId": "a92c7a0c-d4a6-4914-9261-1fd872219ed9"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "lulizzz",
    "name": "m7growth"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-07-04T20:13:15.269Z",
  "versionId": "8485c008-0445-4b5f-b027-4f35552ec507"
}