pinai-zap-bkp_02_07_25-Produção.json
{
  "createdAt": "2025-07-03T01:55:58.979Z",
  "updatedAt": "2025-07-03T21:01:24.524Z",
  "id": "929JM99hdIra5cU2",
  "name": "PinAI Zap BKP_02_07_25",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zapsterapi.com/v1/wa/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NTExMjcwOTksImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiI2ZWE2YTc1Ni1mZGJhLTQyMGYtYmYzYS1jN2RmMjAzMzU2YzQiLCJqdGkiOiIxOTA1YTAyYy1jNzQ0LTRjNGEtYjg1Mi0xMDNiNTJhYjRlN2IifQ.sC89aJQdextTlkBEfNJB4DzYtXy6RPVaxCZ9gQkCtaI"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instance_id",
              "value": "a7qwxj5mo5n73efcqfb9n"
            },
            {
              "name": "recipient",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id.length > 15 ? 'group:' + $('Webhook_Pin_').item.json.body.data.recipient.id : $('Webhook_Pin_').item.json.body.data.recipient.id }}"
            },
            {
              "name": "text",
              "value": "=*Transcrição de audio:*\n______\n*{{ $('Dados').item.json['id_Quem Enviou_name'] }}*\n\n{{ $json.text }}\n____\n_*Este resumo foi criado por agente de IA e pode conter erros._"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4180,
        1800
      ],
      "id": "4237c56e-5dc5-4959-a4df-c579677394fa",
      "name": "Envia msg para o Usuario2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        5260,
        2400
      ],
      "id": "19be8b7a-8081-4e05-a765-8aa5d57210e9",
      "name": "Calculator"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "36dbd065-7e11-4edb-ae54-193713be0f37",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1960,
        2060
      ],
      "id": "163881e9-b157-464c-a73d-9e3c324d018d",
      "name": "Webhook_Pin_",
      "webhookId": "36dbd065-7e11-4edb-ae54-193713be0f37"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13375300-ce4a-404e-882a-b17d039d1e33",
                    "leftValue": "={{ $('Webhook_Pin_').item.json.body.data.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "074eb0fa-5990-4029-a5ba-9cbddbc523e2",
                    "leftValue": "={{ $('Webhook_Pin_').item.json.body.data.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6265f04e-fc59-4ea3-abbe-ecb856e83567",
                    "leftValue": "={{ $('Webhook_Pin_').item.json.body.data.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "66f38727-a067-4e66-a3c0-57392bf0c953",
                    "leftValue": "={{ $('Webhook_Pin_').item.json.body.data.type }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3420,
        1760
      ],
      "id": "e77d0d8e-dbb5-4ce9-94ee-0cacbe39a512",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "descreva todo conteudo da imagem. responda sem acento, sem hifens",
        "imageUrls": "={{ $json.body.data.content.media.url }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4140,
        2120
      ],
      "id": "ce27633a-d472-44f9-acc4-5b1e84925c29",
      "name": "Trancrição imagem1",
      "credentials": {
        "openAiApi": {
          "id": "eRdScrmNjihgWoFR",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f9336be-209b-4e3c-af03-ead36d10361d",
              "name": "id",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id }}",
              "type": "string"
            },
            {
              "id": "dd27aa7d-cb80-45c1-ac93-26dfc2764efe",
              "name": "id_name",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.name }}",
              "type": "string"
            },
            {
              "id": "86c37a2d-c3bf-4952-bdc1-4da94fbe5389",
              "name": "Conversa_audio enviado",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4680,
        1900
      ],
      "id": "9910266e-5fd2-481b-98e5-7b984e722705",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4800,
        2300
      ],
      "id": "6f3d23aa-04d0-40e9-b3a7-88a3b4d6c3ba",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "eRdScrmNjihgWoFR",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId | $('Webhook_Pin_').item.json.body.data.recipient.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4940,
        2380
      ],
      "id": "cf2470b9-27b1-4343-bb21-94de1937022c",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdf3cc0f-9f62-4211-b69c-567f063c52b2",
              "name": "id",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id }}",
              "type": "string"
            },
            {
              "id": "2acbea30-d37b-4914-81b7-2c0310db6422",
              "name": "id_name",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.name }}",
              "type": "string"
            },
            {
              "id": "c583f9ad-3d01-413d-9a7e-ef1127742a8a",
              "name": "Conversa_imagem enviada",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4380,
        2140
      ],
      "id": "4f16f525-76bf-475c-b846-2c26853d3f7f",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5da472-1c04-4c05-923a-c3345f116172",
              "name": "=id",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id }}",
              "type": "string"
            },
            {
              "id": "1feb737a-60e5-403a-9242-8050316de39d",
              "name": "resposta",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5480,
        2080
      ],
      "id": "3634af1f-28f7-40ca-815c-1b536a8444fd",
      "name": "Resposta1"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook_Pin_').item.json.body.data.content.media.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3580,
        2560
      ],
      "id": "6247ef38-6acf-42f4-a94f-9c370609c62f",
      "name": "Dowload2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zapsterapi.com/v1/wa/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NTExMjcwOTksImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiI2ZWE2YTc1Ni1mZGJhLTQyMGYtYmYzYS1jN2RmMjAzMzU2YzQiLCJqdGkiOiIxOTA1YTAyYy1jNzQ0LTRjNGEtYjg1Mi0xMDNiNTJhYjRlN2IifQ.sC89aJQdextTlkBEfNJB4DzYtXy6RPVaxCZ9gQkCtaI"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instance_id",
              "value": "a7qwxj5mo5n73efcqfb9n"
            },
            {
              "name": "recipient",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id.length > 15 ? 'group:' + $('Webhook_Pin_').item.json.body.data.recipient.id : $('Webhook_Pin_').item.json.body.data.recipient.id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.resposta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5700,
        2080
      ],
      "id": "e33a98bc-0678-4656-a6d7-257a73336fa4",
      "name": "Envia msg para o Usuario3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f9336be-209b-4e3c-af03-ead36d10361d",
              "name": "id",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id }}",
              "type": "string"
            },
            {
              "id": "dd27aa7d-cb80-45c1-ac93-26dfc2764efe",
              "name": "id_name",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.name }}",
              "type": "string"
            },
            {
              "id": "86c37a2d-c3bf-4952-bdc1-4da94fbe5389",
              "name": "Conversa",
              "value": "={{ $('Dados').item.json.text }}",
              "type": "string"
            },
            {
              "id": "68ddef09-f4e0-4d0f-9a80-7ba996e8a1c0",
              "name": "=",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4640,
        1540
      ],
      "id": "5977e82b-e51b-4c1a-87d0-b8d293a783e4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Conversa_imagem enviada'] }}\n{{ $json['Conversa_audio enviado'] }}\n{{ $json.Conversa.replace(\"@5511915487811\",\"\") }}\n{{ $json.chatInput }}\n{{ $json[\"Conversa_file enviada\"] }}",
        "options": {
          "systemMessage": "=_______________________________________________\n📌### DIRETRIZ GERAL DO AGENTE\n**Nunca use Bom dia, boa tarde, boa noite.**\n**seu nome é \"PinAI ZAP\"**\n**Você é um agente de whatsapp e o seu nome é PinAI ZAP. Você é especializado em ajduar a pessoas.\n**Use emojis somente se for apropriado.**\n**Certifique-se de usar markdown compatível com o whatsapp da ultima versão.**\n\n------------------------------------------------------------\n   📌### DIRETRIZ ESPECIFICA A DEPENDER DA ATIVIDADE**\n------------------------------------------------------------\n\n\n__________________________________________________________\n📌### ATIVIDADE: Resumo Estruturado ao receber documento em PDF.\n\nAtenção: Nâo faça nenhum tipo de resumo e não envie nenhum tipo de msg, quando perceber que que o que foi compartilhado é um curriculo de alguma pessoas, pois não faz sentido ficar fazendo resumo de curriculom no grupo, mas analise antes, pois estudos relacionado a profissoes e futuro do trabalho, não é curriculom (Ex. o documento \"Future of Jobs Report\" não é um curriculo )\n\n###PROMPT: Ao receber qualquer documento em PDF para resumo, siga rigorosamente esta estrutura de Resumo para WhatsApp:\n\n### Diretrizes de Resumo\n\n1. **Extensão do Texto Original**:\n   - Para documentos curtos (menos de 2.000 palavras): O resumo deve ter entre 150 a 300 palavras, cobrindo os principais pontos.\n   - Para documentos longos (mais de 2.000 palavras): O resumo deve ser cerca de 10-15% do texto original. Por exemplo, um texto de 10.000 palavras pode ter um resumo de 1.000 a 1.500 palavras.\n\n2. **Número de Ideias Principais**:\n   - Identifique de 5 a 15 ideias principais do texto, dependendo da complexidade do conteúdo. Para assuntos complexos, enfatize as ideias que sustentam a análise.\n\n3. **Insights e Recomendações**:\n   - Inclua entre 2 a 5 insights significativos e recomendações práticas com base no conteúdo para fornecer valor ao leitor.\n\n4. **Formato**:\n   - Use subtítulos para separar seções do resumo (ex.: Ideias Principais, Insights, Recomendações), mas mantenha a coesão e evite fragmentação excessiva.\n\n5. **Complexidade do Tema**:\n   - Ajuste a profundidade e a detalhamento do resumo conforme a complexidade do tópico abordado. Tópicos mais complexos podem exigir maior detalhamento.\n\n### Estrutura do Resumo:\n\nObs. Incie o resumo, agradecendo a pessoa que enviou por compratilhar o arquivo *(coloque o nome do arquivo)* e informando que você fez um resumo. \n\nOBS. Importante manter tópicos, Título, Resumo, Principal Takeaway, Ideias Principais, Insights, Citações, Fatos, Recomendações e Referências)\n______\n\n1.*Título*: Crie um título que reflita o tema principal do conteúdo.\n\n2.*Resumo*: Escreva uma breve introdução que forneça uma visão geral do conteúdo principal, destacando o propósito ou a ideia central numa ou duas frases.\n\n3.*Principal Takeaway*:\n   - Resuma em uma frase a essência do que foi discutido, que pode ser lembrado como o aprendizado chave.\n\n4.*Ideias Principais*:\n   - Liste de 5 a 15 ideias principais que abordem os tópicos discutidos no texto. Cada ideia deve ser clara e concisa.\n\n5.*Insights*:\n   - Inclua de 2 a 5 insights significativos que podem ser extraídos do conteúdo, refletindo sobre o aprendizado ou a aplicação prática das informações.\n\n6.*Citações*:\n   - Adicione algumas citações relevantes retiradas do texto que ilustrem os pontos discutidos, garantindo que sejam claramente atribuídas ao autor original.\n\n7.*Fatos*:\n   - Inclua informações concretas, destaque dados numéricos ou estatísticas que são relevantes para o assunto, ajudando a fundamentar o resumo.\n\n8.*Recomendações*:\n    - Ofereça sugestões práticas ou diretrizes sobre como aplicar o conhecimento extraído do conteúdo no mundo real.\n\n9.*Referências*:\n   - Indique as fontes, autores ou estudos diretamente mencionados no texto original, se aplicável (obs.: NUNCA crie URL e não coloque nenhum link ou  URL nesse tipo de resumo pf )\n\n\n### Orientação final\nFormatação: Sempre que for compartilhar o resumo, já envie na formação de compartilhamento no whatsapp (Ex. Se for negrito, voce precisa usar a forma que o whatsapp utiliza para deixar em negrito). Utilize negrito para títulos e elementos-chave e emojis para melhor visualização.\n\nEstilo: Ao criar o resumo, mantenha a coesão e a clareza, assegurando que cada seção seja facilmente compreensível.\n\nConsistência: Assegure que o resumo capture as informações essenciais, sendo totalmente compreensível por si só, sem depender da leitura do documento original.\n\nAdaptação: Ajuste proporcionalmente os elementos à extensão do documento, mantendo relevância e clareza.\n\nATENÇÃO:Não pergunte nada depois no final do resumo. Só coloque no final: \n____\n_*Este resumo foi criado por agente de IA._\n\n_________________________________\n\n\n---\n\n## FERRAMENTAS DISPONÍVEIS\n\n**Perplexity Search:**  \n- **Uso:** Pesquisa relacionado a noticias, estudos, atualizade, pesquisa de empresas, pessoas e analise com profundicade.\n- **Quando usar:** Ferramenta primária para coleta externa  \n- **Limitações:** Pode haver atrasos de acesso; verifique a atualidade das informações recentes \n\n**Criação de Google Docs (Escrita):**  \n- **Uso:** Criar relatórios completos de inteligência competitiva  \n- **Quando usar:** Passo final para documentar descobertas e recomendações  \n- **Limitações:** Garantir formatação profissional e estrutura clara  \n\n**Acesso ao Google Docs (Leitura):**  \n- **Uso:** Revisar arquivos de projetos da empresa, compreender contexto interno, prioridades estratégicas e panorama competitivo atual  \n- **Quando usar:** Antes de iniciar a pesquisa, para entender a perspectiva da empresa, e depois, para contextualizar as conclusões  \n- **Limitações:** Acessar apenas documentos explicitamente compartilhados  \n\n**Criação de Google Docs (Escrita):**  \n- **Uso:** Criar relatórios completos de inteligência competitiva  \n- **Quando usar:** Passo final para documentar descobertas e recomendações  \n- **Limitações:** Garantir formatação profissional e estrutura clara  \n\n\n## PROCESSO DE TRABALHO COM USO DO Perplexity\n\n1. **Execução da Pesquisa**  \n   - Usar Perplexity para pesquisar\n   - Cruzar múltiplas fontes para precisão  \n   - Focar em desenvolvimentos recentes (últimos 12–18 meses)\n\n2. **Garantia de Qualidade**  \n\n   - Verificar que todas as afirmações estejam devidamente citadas  \n   - Checar completude do relatório em relação à solicitação original  \n   - Assegurar que recomendações estejam alinhadas ao contexto da empresa  \n   - Revisar clareza e profissionalismo  \n   - **OBRIGATÓRIO:** Gerar link compartilhável do Google Doc e disponibilizar ao usuário  \n\n7. **Retorno do Link do Documento**  \n   - Entregar ao usuário o link do Google Doc com o relatório final  \n\n\n\n## DIRETRIZES IMPORTANTES\n\n**Nunca Deve:**\n- Compartilhar informações confidenciais da empresa externamente  \n- Fazer afirmações sem atribuição de fonte  \n- Recomendar práticas ilegais ou antiéticas  \n- Acessar documentos não autorizados da empresa  \n- Apresentar especulações como fatos  \n\n**Tratamento de Erros:**  \n- Se o acesso ao Perplexity falhar, comunicar claramente a limitação e sugerir abordagens alternativas  \n- Se arquivos da empresa estiverem inacessíveis, solicitar orientação específica ao usuário  \n- Se a pesquisa gerar dados insuficientes, documentar lacunas e recomendar métodos adicionais  \n\n**Gatilhos de Escalonamento:**  \n- Descoberta de ameaças competitivas significativas que exijam atenção imediata  \n- Informações conflitantes que não possam ser resolvidas com pesquisa adicional  \n- Problemas técnicos que impeçam acesso às ferramentas por >30 minutos   \n\n\n\n\n"
        }
      },
      "id": "d804f64c-9dee-4a0e-9ac0-0b12d73f1049",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4960,
        2080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "533e88d8-3b6a-41c8-ad90-d1a655e2068a",
              "leftValue": "={{ $json.group_status }}",
              "rightValue": "=Active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a4e5c0c4-3264-4bef-a37c-821bfbf0c8eb",
              "leftValue": "={{ $('Dados').item.json.Type }}",
              "rightValue": "=chat",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3120,
        2100
      ],
      "id": "d621c1d6-546b-4108-9fa0-1a4568ac46cb",
      "name": "If_Telefones com acesso1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a472a50c-1b09-4a7f-a3bf-942b983906ab",
              "leftValue": "={{ $('Webhook_Pin_').item.json.body.data.content.text }}",
              "rightValue": "@5511915487811",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "97fad5d1-df3b-49b8-8f1c-f8bb551df8eb",
              "leftValue": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id.length }}",
              "rightValue": 15,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3760,
        1580
      ],
      "id": "8c608c89-c404-4760-9f79-1a1f63b46baa",
      "name": "If_ Bot mencionado1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId | $('Webhook_Pin_').item.json.body.data.recipient.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4780,
        2620
      ],
      "id": "41ff0801-875c-4c47-a306-65693a3efef6",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "SbtFPUSvZAXXVYmb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "all",
        "limit": 5,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        5040,
        2620
      ],
      "id": "71a57251-8b3d-4459-bf15-5c4a71d441fd",
      "name": "Get many items in Hacker News1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "supplier",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "category",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5100,
        2400
      ],
      "id": "befd6b4d-054e-48bd-bfad-28ed9ce06678",
      "name": "Get Supplier1",
      "credentials": {
        "supabaseApi": {
          "id": "6SVrwqEuLHDsNj03",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Switch1').item.json.body.data.content.media.metadata.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1pY_98LeyuDlB423LG3iU4QuFtBTve1h3",
          "mode": "list",
          "cachedResultName": "01. Fabio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1pY_98LeyuDlB423LG3iU4QuFtBTve1h3"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4460,
        2580
      ],
      "id": "321bfaff-f52a-4a19-9f78-babdc8f36e3b",
      "name": "Upload _ Fabio Enviou1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PPOIxo9BBRJ5gcrd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Switch1').item.json.body.data.content.media.metadata.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "15uyjT_YzplA5sQfFAkBnj0xAVKY3rBxc",
          "mode": "list",
          "cachedResultName": "02.Grupos What",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15uyjT_YzplA5sQfFAkBnj0xAVKY3rBxc"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4460,
        2940
      ],
      "id": "06d9ccc7-1c43-4a5c-9073-1f7756c292bc",
      "name": "Upload file _ Grupos1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PPOIxo9BBRJ5gcrd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ace0a3c2-0ad4-4349-ba27-16e0308cc440",
              "name": "id_name-Grupo",
              "value": "={FixedExpression={{ $('Dados').item.json.id_name_Grupo }}FixedExpressionEu{ $('Dados').item.json.id_name_Grupo }}",
              "type": "string"
            },
            {
              "id": "bdf3cc0f-9f62-4211-b69c-567f063c52b2",
              "name": "id",
              "value": "={{ $('Dados').item.json['Cod_Id_content_mensagem_que foi respondidada'] }}",
              "type": "string"
            },
            {
              "id": "2acbea30-d37b-4914-81b7-2c0310db6422",
              "name": "id_name",
              "value": "={{ $('Dados').item.json['id_Quem Enviou_name'] }}",
              "type": "string"
            },
            {
              "id": "5a91b505-62ff-4a78-89a5-3985f19dd889",
              "name": "id_nome_Enviou",
              "value": "={{ $('Dados').item.json[\"Id_ Quem Enviou\"] }}",
              "type": "string"
            },
            {
              "id": "c9fd6f14-fcf6-483f-954a-1fcfc426b5a8",
              "name": "=id_Enviou",
              "value": "={{ $('Dados').item.json.id_Mensagem2 }}",
              "type": "string"
            },
            {
              "id": "f9283f3a-4fc1-47e2-9d77-eed24c0449c2",
              "name": "nome_do_Arquivo",
              "value": "={{ $('Dados').item.json.file_name }}",
              "type": "string"
            },
            {
              "id": "c583f9ad-3d01-413d-9a7e-ef1127742a8a",
              "name": "Conversa_file enviada",
              "value": "=Essas são as informações obitidas no arquivo que foi enviado pelo, {{ $('Dados').item.json['id_Quem Enviou_name'] }}. O nome do arquivo é {{ $('Dados').item.json.file_name }}.\n\nFaça um Resumo Estruturado, sempre em portugues.\n\n_________\nInformações do Arquivo\n\n{{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4420,
        2340
      ],
      "id": "6099cd58-05b4-4d76-bc39-9ce64a82ef0b",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook_Pin_').item.json.body.data.content.media.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio_user"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3700,
        1940
      ],
      "id": "3900e283-5657-43cf-add0-dc3cc8bee864",
      "name": "Dowload3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2834e0a-d4f2-4d74-9f9c-0c5f5644a6de",
              "leftValue": "={{ $('If_Telefones com acesso1').item.json.body.data.recipient.id }}",
              "rightValue": "5511979714123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4020,
        2760
      ],
      "id": "d04fc266-3a17-4def-9c85-5d82dc1f9da3",
      "name": "If_Quem enviou3"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        4200,
        2340
      ],
      "id": "beaab501-3831-4e44-a7a3-8c956d0e8501",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio_user",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3940,
        1920
      ],
      "id": "0abf26ca-efa6-425e-ad82-73c9f49cfbe7",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "eRdScrmNjihgWoFR",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-deep-research",
        "messages": {
          "message": [
            {
              "content": "="
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        5360,
        2700
      ],
      "id": "3d4a9502-05b6-4eed-bea2-06b8b4705bcc",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "23zESIEgl2GDKQQN",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2834e0a-d4f2-4d74-9f9c-0c5f5644a6de",
              "leftValue": "={{ $('Dados').item.json[\"Id_ Quem Enviou\"] }}",
              "rightValue": "5511979714123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "6a6acc2f-924b-4f86-a6af-327596e9941e",
              "leftValue": "={{ $('Dados').item.json[\"Id_ Quem Enviou\"] }}",
              "rightValue": "5511999458546",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3920,
        2380
      ],
      "id": "4c526798-85cd-429f-8f20-ae6084977127",
      "name": "SÓ Resumo se o FABIO ENVIAR!"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2834e0a-d4f2-4d74-9f9c-0c5f5644a6de",
              "leftValue": "=",
              "rightValue": "5511979714123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ab32d7f9-4259-4449-84bd-08a1465afe1f",
              "leftValue": "={{ $('Webhook_Pin_').item.json.headers['x-instance-phonenumber'] }}",
              "rightValue": "5511915487811",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3740,
        2160
      ],
      "id": "29883196-2a11-48bc-a0d8-a5b56f4cf32f",
      "name": "SÓ RESPONDE PARA O FABIO QANDO RECEBE PRIVADO 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2834e0a-d4f2-4d74-9f9c-0c5f5644a6de",
              "leftValue": "={{ $('Dados').item.json['Id_ Quem Enviou'] }}",
              "rightValue": "5511979714123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ab32d7f9-4259-4449-84bd-08a1465afe1f",
              "leftValue": "={{ $('Dados').item.json.Type }}",
              "rightValue": "chat",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4420,
        1900
      ],
      "id": "f2d2775b-8723-48e8-a91e-c2eb59cdc118",
      "name": "SÓ RESPONDE PARA O FABIO QANDO RECEBE PRIVADO "
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2834e0a-d4f2-4d74-9f9c-0c5f5644a6de",
              "leftValue": "={{ $('Dados').item.json['Id_ Quem Enviou'] }}",
              "rightValue": "5511979714123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "6a6acc2f-924b-4f86-a6af-327596e9941e",
              "leftValue": "={{ $('Dados').item.json['Id_ Quem Enviou'] }}",
              "rightValue": "5511999458546",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4120,
        1540
      ],
      "id": "ff7e2e2e-1078-49f6-89a7-126aa60e58f6",
      "name": "SÓ Resumo se o FABIO ENVIAR!1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2980,
        2540
      ],
      "id": "0e46876b-e75c-4054-9f89-901fe776b345",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3640,
        2320
      ],
      "id": "23549086-f199-487a-afd0-fd73f90c7683",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3380,
        2020
      ],
      "id": "4b067d88-fd97-4ece-8382-64fc7f294eaa",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4140,
        1820
      ],
      "id": "338d574c-4dce-4efe-916d-d4fe8c3ee4e3",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3720,
        1520
      ],
      "id": "799cdf85-7eb9-4295-9c88-6f837159b796",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "active_group_registration_OFICIAL",
        "filters": {
          "conditions": [
            {
              "keyName": "group_ids",
              "keyValue": "={{ $('Dados').item.json.id_grupo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2840,
        1780
      ],
      "id": "3354701d-db60-4d85-acd0-bee06a13600c",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "6SVrwqEuLHDsNj03",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "active_group_registration",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "group_ids",
              "fieldValue": "={{ $json.body.data.recipient.id }}"
            },
            {
              "fieldId": "Nome do group",
              "fieldValue": "={{ $json.body.data.recipient.name }}"
            },
            {
              "fieldId": "group_status",
              "fieldValue": "Blocked"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2180,
        2380
      ],
      "id": "296577a6-5781-48f4-a4fc-aa9dfd615a64",
      "name": "Identificar Grupo que foi adcionado",
      "credentials": {
        "supabaseApi": {
          "id": "6SVrwqEuLHDsNj03",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "active_tel_OFICIAL",
        "filters": {
          "conditions": [
            {
              "keyName": "group_ids",
              "keyValue": "={{ $json['Id_ Quem Enviou'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2820,
        2120
      ],
      "id": "c43a9521-7d71-4cb4-9448-fb6a6a785058",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "6SVrwqEuLHDsNj03",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Type }}",
                    "rightValue": "group",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c4ac9d64-16b9-4bca-8d31-62f6cf6cbdb6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "group"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cacab3d7-a7ba-4ba1-9529-c9fac2de371a",
                    "leftValue": "={{ $json.Type }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2580,
        1920
      ],
      "id": "3f2a12a0-95a9-4812-9d4f-134df8b4cfee",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7d56315-892c-4346-aa48-c5b78b3d4f64",
              "name": "id_date_Hora",
              "value": "={{ $json.body.data.sent_at }}",
              "type": "string"
            },
            {
              "id": "20216f19-2559-4d09-84bd-d0d4d2623533",
              "name": "id_Mensagem2",
              "value": "={{ $json.body.data.id }}",
              "type": "string"
            },
            {
              "id": "15516287-3f43-470f-940a-1d781592e1f8",
              "name": "Cod_Id_content_mensagem_que foi respondidada",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.id }}",
              "type": "string"
            },
            {
              "id": "e2443c63-71ef-4a97-8e73-5533cfc46a2c",
              "name": "Cod_Id_content_mensagem_que foi MARCADA",
              "value": "={{ $json.body.data.content.quoted.id }}",
              "type": "string"
            },
            {
              "id": "ab034656-381e-4fdc-b737-16bc39cd34c5",
              "name": "id_Mensagem",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "459c607c-8076-4f01-a2b3-dbc9c60b88d3",
              "name": "Type",
              "value": "={{ $json.body.data.recipient.type }}",
              "type": "string"
            },
            {
              "id": "9f9336be-209b-4e3c-af03-ead36d10361d",
              "name": "id_grupo",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id }}",
              "type": "string"
            },
            {
              "id": "dd27aa7d-cb80-45c1-ac93-26dfc2764efe",
              "name": "id_name_Grupo",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.name }}",
              "type": "string"
            },
            {
              "id": "86c37a2d-c3bf-4952-bdc1-4da94fbe5389",
              "name": "Id_ Quem Enviou",
              "value": "={{ $json.body.data.sender.id }}",
              "type": "string"
            },
            {
              "id": "e9c822ba-11ea-4d5d-bb42-1ce42e297230",
              "name": "id_Quem Enviou_name",
              "value": "={{ $json.body.data.sender.name }}",
              "type": "string"
            },
            {
              "id": "ab7e89e0-c7a7-4ef2-b939-9c7567067840",
              "name": "tipo de msg",
              "value": "={{ $json.body.data.type }}",
              "type": "string"
            },
            {
              "id": "20db8b5f-9f16-4588-83c8-75ae4e5b9134",
              "name": "text",
              "value": "={{ $json.body.data.content.text }}",
              "type": "string"
            },
            {
              "id": "25a81388-309d-4ad3-817b-b1e1e1a40e75",
              "name": "file_name",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.content.media.metadata.fileName }}",
              "type": "string"
            },
            {
              "id": "c785069b-c435-489d-a56b-27d84b642efc",
              "name": "media.url",
              "value": "={{ $json.body.data.content.media.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2380,
        1940
      ],
      "id": "ed8d6571-6f7f-41a1-9f49-9540ad0a07d2",
      "name": "Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21cd9961-74ff-47ac-a518-b6e33a89d1cd",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2180,
        1980
      ],
      "id": "f0635b76-df59-4786-8a5c-17d9cf680e3e",
      "name": "If_Grupos Ou Pessoas liberados2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cffc832a-62d5-4f61-abc1-fc9acee494c3",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2480,
        2580
      ],
      "id": "8600a5b2-97df-4aa9-9e70-d6ca91167323",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "376010ab-262f-4afa-96cd-f1cbd8f0296b",
              "leftValue": "={{ $json.group_status }}",
              "rightValue": "=Active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3080,
        1780
      ],
      "id": "2bc5b00f-0c5f-4087-8392-5ea157eb763e",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd27aa7d-cb80-45c1-ac93-26dfc2764efe",
              "name": "ID do  Grupo",
              "value": "={{ $json.body.data.fields[1].value }}",
              "type": "string"
            },
            {
              "id": "86c37a2d-c3bf-4952-bdc1-4da94fbe5389",
              "name": "nome do grupo ",
              "value": "={{ $json.body.data.fields[0].value }}",
              "type": "string"
            },
            {
              "id": "68ddef09-f4e0-4d0f-9a80-7ba996e8a1c0",
              "name": "=Status do Grupo",
              "value": "={{ $json.body.data.fields[2].value[0] === '222b1a35-c68d-4fd4-8f14-2beb1282a03a' ? 'Active' : $json.body.data.fields[2].value[0] === 'bf957118-9d60-43c5-b976-1801a66473af' ? 'Blocked' : $json.body.data.fields[2].value[0] === 'fbe6c9fd-06ec-493a-b0e6-4f97ab5ad76b' ? 'Inactive' : 'Desconhecido' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3160,
        680
      ],
      "id": "ca662676-968c-40eb-9b10-444fcd1e89b2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "active_group_registration_OFICIAL",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "group_status",
              "fieldValue": "={{ $json['Status do Grupo'] }}"
            },
            {
              "fieldId": "Nome do group",
              "fieldValue": "={{ $json['nome do grupo '] }}"
            },
            {
              "fieldId": "group_ids",
              "fieldValue": "={{ $json['ID do  Grupo'] }}"
            },
            {
              "fieldId": "id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3480,
        700
      ],
      "id": "3d297831-ffd4-498e-be53-121eaddecb34",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "6SVrwqEuLHDsNj03",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "92dc1289-e444-4a10-be6f-ede1c151478d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2840,
        660
      ],
      "id": "44ef4102-4b2f-458c-adaa-841d64a8264f",
      "name": "Webhook",
      "webhookId": "92dc1289-e444-4a10-be6f-ede1c151478d"
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {}
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        5420,
        2340
      ],
      "id": "f1ca1005-4c7d-47c5-9587-55ab63545be6",
      "name": "Message a model in Perplexity1",
      "credentials": {
        "perplexityApi": {
          "id": "23zESIEgl2GDKQQN",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.youTubeTool",
      "typeVersion": 1,
      "position": [
        5640,
        2340
      ],
      "id": "1a0429a4-4543-4c5d-8210-f60e445dccb4",
      "name": "Get many channels in YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "iwvi6mFYsFSjxUQ9",
          "name": "YouTube account"
        }
      }
    }
  ],
  "connections": {
    "Envia msg para o Usuario2": {
      "main": [
        []
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Pin_": {
      "main": [
        [
          {
            "node": "Identificar Grupo que foi adcionado",
            "type": "main",
            "index": 0
          },
          {
            "node": "If_Grupos Ou Pessoas liberados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "If_ Bot mencionado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dowload3",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Dowload2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trancrição imagem1": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta1": {
      "main": [
        [
          {
            "node": "Envia msg para o Usuario3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dowload2": {
      "main": [
        [
          {
            "node": "If_Quem enviou3",
            "type": "main",
            "index": 0
          },
          {
            "node": "SÓ Resumo se o FABIO ENVIAR!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Resposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Telefones com acesso1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If_ Bot mencionado1": {
      "main": [
        [
          {
            "node": "SÓ Resumo se o FABIO ENVIAR!1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        []
      ]
    },
    "Get many items in Hacker News1": {
      "ai_tool": [
        []
      ]
    },
    "Get Supplier1": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dowload3": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Quem enviou3": {
      "main": [
        [
          {
            "node": "Upload _ Fabio Enviou1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file _ Grupos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Envia msg para o Usuario2",
            "type": "main",
            "index": 0
          },
          {
            "node": "SÓ RESPONDE PARA O FABIO QANDO RECEBE PRIVADO ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        []
      ]
    },
    "SÓ Resumo se o FABIO ENVIAR!": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SÓ RESPONDE PARA O FABIO QANDO RECEBE PRIVADO 2": {
      "main": [
        [
          {
            "node": "Trancrição imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SÓ RESPONDE PARA O FABIO QANDO RECEBE PRIVADO ": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SÓ Resumo se o FABIO ENVIAR!1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "If_Telefones com acesso1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Grupos Ou Pessoas liberados2": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity1": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many channels in YouTube": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d9a9e4be-a8b1-482c-96c6-9f2449d60fe2",
  "triggerCount": 2,
  "tags": [
    {
      "createdAt": "2025-06-28T15:23:11.573Z",
      "updatedAt": "2025-06-28T15:23:11.573Z",
      "id": "2HhCR0mhhqYWjZSE",
      "name": "Produção"
    }
  ]
}