pinai-zap_fabio-pinheiro-Produção.json
{
  "createdAt": "2025-06-30T00:50:22.276Z",
  "updatedAt": "2025-07-02T22:55:35.911Z",
  "id": "s6RWUHPIwTHwWioA",
  "name": "PinAI Zap_Fabio Pinheiro",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zapsterapi.com/v1/wa/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NTExMjcwOTksImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiI2ZWE2YTc1Ni1mZGJhLTQyMGYtYmYzYS1jN2RmMjAzMzU2YzQiLCJqdGkiOiIxOTA1YTAyYy1jNzQ0LTRjNGEtYjg1Mi0xMDNiNTJhYjRlN2IifQ.sC89aJQdextTlkBEfNJB4DzYtXy6RPVaxCZ9gQkCtaI"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instance_id",
              "value": "a7qwxj5mo5n73efcqfb9n"
            },
            {
              "name": "recipient",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id.length > 15 ? 'group:' + $('Webhook_Pin_').item.json.body.data.recipient.id : $('Webhook_Pin_').item.json.body.data.recipient.id }}"
            },
            {
              "name": "text",
              "value": "=*Transcrição de audio:*\n______\n*{{ $('Dados').item.json['id_Quem Enviou_name'] }}*\n\n{{ $json.text }}\n____\n_*Este resumo foi criado por agente de IA e pode conter erros._"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4180,
        1800
      ],
      "id": "5ed26e09-0bfd-485e-8e0d-edc681f63478",
      "name": "Envia msg para o Usuario2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        5320,
        2360
      ],
      "id": "b51ca776-5055-40ee-b899-ef3d8b98fe96",
      "name": "Calculator"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "905a1252-6e45-468d-bf89-2c5e38143134",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1960,
        2060
      ],
      "id": "5a267f8b-d0c2-4a56-9db9-c12aee596c77",
      "name": "Webhook_Pin_",
      "webhookId": "905a1252-6e45-468d-bf89-2c5e38143134"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13375300-ce4a-404e-882a-b17d039d1e33",
                    "leftValue": "={{ $('Webhook_Pin_').item.json.body.data.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "074eb0fa-5990-4029-a5ba-9cbddbc523e2",
                    "leftValue": "={{ $('Webhook_Pin_').item.json.body.data.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6265f04e-fc59-4ea3-abbe-ecb856e83567",
                    "leftValue": "={{ $('Webhook_Pin_').item.json.body.data.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "66f38727-a067-4e66-a3c0-57392bf0c953",
                    "leftValue": "={{ $('Webhook_Pin_').item.json.body.data.type }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3420,
        1760
      ],
      "id": "319445d3-1a9e-4999-89a9-f69a18f7d301",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "descreva todo conteudo da imagem. responda sem acento, sem hifens",
        "imageUrls": "={{ $json.body.data.content.media.url }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4140,
        2120
      ],
      "id": "8d552f2b-0c25-4644-9d70-8fe796c453ea",
      "name": "Trancrição imagem1",
      "credentials": {
        "openAiApi": {
          "id": "eRdScrmNjihgWoFR",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f9336be-209b-4e3c-af03-ead36d10361d",
              "name": "id",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id }}",
              "type": "string"
            },
            {
              "id": "dd27aa7d-cb80-45c1-ac93-26dfc2764efe",
              "name": "id_name",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.name }}",
              "type": "string"
            },
            {
              "id": "86c37a2d-c3bf-4952-bdc1-4da94fbe5389",
              "name": "Conversa_audio enviado",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4680,
        1900
      ],
      "id": "2199ed60-b635-4461-ae38-281d90cbd1f2",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4800,
        2300
      ],
      "id": "22c05c8c-d102-478f-ac19-77a96efb737a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "eRdScrmNjihgWoFR",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId | $('Webhook_Pin_').item.json.body.data.recipient.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4960,
        2360
      ],
      "id": "a8ec46d6-e5d2-4440-93e4-ebbe11c0eca8",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdf3cc0f-9f62-4211-b69c-567f063c52b2",
              "name": "id",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id }}",
              "type": "string"
            },
            {
              "id": "2acbea30-d37b-4914-81b7-2c0310db6422",
              "name": "id_name",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.name }}",
              "type": "string"
            },
            {
              "id": "c583f9ad-3d01-413d-9a7e-ef1127742a8a",
              "name": "Conversa_imagem enviada",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4380,
        2140
      ],
      "id": "ace7bd58-075e-40e0-9d6a-fc4908f4e9c5",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5da472-1c04-4c05-923a-c3345f116172",
              "name": "=id",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id }}",
              "type": "string"
            },
            {
              "id": "1feb737a-60e5-403a-9242-8050316de39d",
              "name": "resposta",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5480,
        2080
      ],
      "id": "9bfb0493-9244-471d-a7df-9dab1d027653",
      "name": "Resposta1"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook_Pin_').item.json.body.data.content.media.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3580,
        2560
      ],
      "id": "7afc8108-e755-4e84-90b2-720a06083cb8",
      "name": "Dowload2"
    },
    {
      "parameters": {
        "resource": "file",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2840,
        1460
      ],
      "id": "63282b1e-f10a-4ede-b07b-5a7a7d6de657",
      "name": "Trancrição do Arquivo1",
      "credentials": {
        "openAiApi": {
          "id": "eRdScrmNjihgWoFR",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zapsterapi.com/v1/wa/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NTExMjcwOTksImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiI2ZWE2YTc1Ni1mZGJhLTQyMGYtYmYzYS1jN2RmMjAzMzU2YzQiLCJqdGkiOiIxOTA1YTAyYy1jNzQ0LTRjNGEtYjg1Mi0xMDNiNTJhYjRlN2IifQ.sC89aJQdextTlkBEfNJB4DzYtXy6RPVaxCZ9gQkCtaI"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instance_id",
              "value": "a7qwxj5mo5n73efcqfb9n"
            },
            {
              "name": "recipient",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id.length > 15 ? 'group:' + $('Webhook_Pin_').item.json.body.data.recipient.id : $('Webhook_Pin_').item.json.body.data.recipient.id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.resposta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5700,
        2080
      ],
      "id": "da5e2e6d-18a9-4cf5-b5ef-587c1d18d7dd",
      "name": "Envia msg para o Usuario3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "533e88d8-3b6a-41c8-ad90-d1a655e2068a",
              "leftValue": "={{ $json.body.data.recipient.name }}",
              "rightValue": "=Agente de Teste",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3000,
        1240
      ],
      "id": "88f351aa-4e4c-4bb4-8d9b-eaafb827928d",
      "name": "If_Cadastro de Tel"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f9336be-209b-4e3c-af03-ead36d10361d",
              "name": "id",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id }}",
              "type": "string"
            },
            {
              "id": "dd27aa7d-cb80-45c1-ac93-26dfc2764efe",
              "name": "id_name",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.name }}",
              "type": "string"
            },
            {
              "id": "86c37a2d-c3bf-4952-bdc1-4da94fbe5389",
              "name": "Conversa",
              "value": "={{ $('Dados').item.json.text }}",
              "type": "string"
            },
            {
              "id": "68ddef09-f4e0-4d0f-9a80-7ba996e8a1c0",
              "name": "=",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4640,
        1540
      ],
      "id": "595c7171-4963-4676-87e7-79d3fe0b58df",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Conversa_imagem enviada'] }}\n{{ $json['Conversa_audio enviado'] }}\n{{ $json.Conversa.replace(\"@5511915487811\",\"\") }}\n{{ $json.chatInput }}\n{{ $json[\"Conversa_file enviada\"] }}",
        "options": {
          "systemMessage": "=## **Hora atual:** {{ $now }}\n__________________________________________________________\n📌### DIRETRIZ GERAL DO AGENTE\n**Nunca use Bom dia, boa tarde, boa noite.**\n**seu nome é \"PinAI ZAP\"**\n**Você é um agente de whatsapp e o seu nome é PinAI ZAP. Você é especializado em ajduar a pessoas.\n**Use emojis somente se for apropriado.**\n**Certifique-se de usar markdown compatível com o whatsapp da ultima verção.**\n\n------------------------------------------------------------\n   📌### DIRETRIZ ESPECIFICA A DEPENDER DA ATIVIDADE**\n------------------------------------------------------------\n\n\n__________________________________________________________\n📌### ATIVIDADE: Resumo Estruturado ao receber documento em PDF.\n\nAtenção: Nâo faça nenhum tipo de resumo e não envie nenhum tipo de msg, quando perceber que que o que foi compartilhado é um curriculo de alguma pessoas, pois não faz sentido ficar fazendo resumo de curriculom no grupo. \n\n###PROMPT: Ao receber qualquer documento em PDF para resumo, siga rigorosamente esta estrutura de Resumo para WhatsApp:\n\n### Diretrizes de Resumo\n\n1. **Extensão do Texto Original**:\n   - Para documentos curtos (menos de 2.000 palavras): O resumo deve ter entre 150 a 300 palavras, cobrindo os principais pontos.\n   - Para documentos longos (mais de 2.000 palavras): O resumo deve ser cerca de 10-15% do texto original. Por exemplo, um texto de 10.000 palavras pode ter um resumo de 1.000 a 1.500 palavras.\n\n2. **Número de Ideias Principais**:\n   - Identifique de 5 a 15 ideias principais do texto, dependendo da complexidade do conteúdo. Para assuntos complexos, enfatize as ideias que sustentam a análise.\n\n3. **Insights e Recomendações**:\n   - Inclua entre 2 a 5 insights significativos e recomendações práticas com base no conteúdo para fornecer valor ao leitor.\n\n4. **Formato**:\n   - Use subtítulos para separar seções do resumo (ex.: Ideias Principais, Insights, Recomendações), mas mantenha a coesão e evite fragmentação excessiva.\n\n5. **Complexidade do Tema**:\n   - Ajuste a profundidade e a detalhamento do resumo conforme a complexidade do tópico abordado. Tópicos mais complexos podem exigir maior detalhamento.\n\n### Estrutura do Resumo:\n\nObs. Incie o resumo, agradecendo a pessoa que enviou por compratilhar o arquivo *(coloque o nome do arquivo)* e informando que você fez um resumo. \n\nOBS. Importante manter tópicos, Título, Resumo, Principal Takeaway, Ideias Principais, Insights, Citações, Fatos, Recomendações e Referências)\n______\n\n1.*Título*: Crie um título que reflita o tema principal do conteúdo.\n\n2.*Resumo*: Escreva uma breve introdução que forneça uma visão geral do conteúdo principal, destacando o propósito ou a ideia central numa ou duas frases.\n\n3.*Principal Takeaway*:\n   - Resuma em uma frase a essência do que foi discutido, que pode ser lembrado como o aprendizado chave.\n\n4.*Ideias Principais*:\n   - Liste de 5 a 15 ideias principais que abordem os tópicos discutidos no texto. Cada ideia deve ser clara e concisa.\n\n5.*Insights*:\n   - Inclua de 2 a 5 insights significativos que podem ser extraídos do conteúdo, refletindo sobre o aprendizado ou a aplicação prática das informações.\n\n6.*Citações*:\n   - Adicione algumas citações relevantes retiradas do texto que ilustrem os pontos discutidos, garantindo que sejam claramente atribuídas ao autor original.\n\n7.*Fatos*:\n   - Inclua informações concretas, destaque dados numéricos ou estatísticas que são relevantes para o assunto, ajudando a fundamentar o resumo.\n\n8.*Recomendações*:\n    - Ofereça sugestões práticas ou diretrizes sobre como aplicar o conhecimento extraído do conteúdo no mundo real.\n\n9.*Referências*:\n   - Indique as fontes, autores ou estudos diretamente mencionados no texto original, se aplicável (obs.: NUNCA crie URL e não coloque nenhum link ou  URL nesse tipo de resumo pf )\n\n\n### Orientação final\nFormatação: Sempre que for compartilhar o resumo, já envie na formação de compartilhamento no whatsapp (Ex. Se for negrito, voce precisa usar a forma que o whatsapp utiliza para deixar em negrito). Utilize negrito para títulos e elementos-chave e emojis para melhor visualização.\n\nEstilo: Ao criar o resumo, mantenha a coesão e a clareza, assegurando que cada seção seja facilmente compreensível.\n\nConsistência: Assegure que o resumo capture as informações essenciais, sendo totalmente compreensível por si só, sem depender da leitura do documento original.\n\nAdaptação: Ajuste proporcionalmente os elementos à extensão do documento, mantendo relevância e clareza.\n\nATENÇÃO:Não pergunte nada depois no final do resumo. Só coloque no final: \n____\n_*Este resumo foi criado por agente de IA._\n\n_________________________________\n\n\n\n"
        }
      },
      "id": "539c6520-71c2-4187-8663-852b651b7055",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4960,
        2080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "533e88d8-3b6a-41c8-ad90-d1a655e2068a",
              "leftValue": "={{ $json.group_status }}",
              "rightValue": "=Active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a4e5c0c4-3264-4bef-a37c-821bfbf0c8eb",
              "leftValue": "={{ $('Dados').item.json.Type }}",
              "rightValue": "=chat",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3120,
        2100
      ],
      "id": "e78c403e-c4a1-429c-94cb-b76a117e6f43",
      "name": "If_Telefones com acesso1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a472a50c-1b09-4a7f-a3bf-942b983906ab",
              "leftValue": "={{ $('Webhook_Pin_').item.json.body.data.content.text }}",
              "rightValue": "@5511915487811",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "97fad5d1-df3b-49b8-8f1c-f8bb551df8eb",
              "leftValue": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id.length }}",
              "rightValue": 15,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3760,
        1580
      ],
      "id": "f802d2dd-7146-4cbc-87d5-4c24dfd5b19a",
      "name": "If_ Bot mencionado1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId | $('Webhook_Pin_').item.json.body.data.recipient.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4780,
        2620
      ],
      "id": "0f71fa48-8e41-4de1-aca9-e3cd1307c7a9",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "SbtFPUSvZAXXVYmb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "all",
        "limit": 5,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        5040,
        2620
      ],
      "id": "b8d45ae3-c384-4573-8654-39a5dd6afdd8",
      "name": "Get many items in Hacker News1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "supplier",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "category",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5180,
        2380
      ],
      "id": "2fba798d-fe67-4cc4-9d76-38ed9c8e60f8",
      "name": "Get Supplier1",
      "credentials": {
        "supabaseApi": {
          "id": "6SVrwqEuLHDsNj03",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Switch1').item.json.body.data.content.media.metadata.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1pY_98LeyuDlB423LG3iU4QuFtBTve1h3",
          "mode": "list",
          "cachedResultName": "01. Fabio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1pY_98LeyuDlB423LG3iU4QuFtBTve1h3"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4460,
        2580
      ],
      "id": "7ef637b7-60de-478c-a343-4dcae9145e31",
      "name": "Upload _ Fabio Enviou1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PPOIxo9BBRJ5gcrd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Switch1').item.json.body.data.content.media.metadata.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "15uyjT_YzplA5sQfFAkBnj0xAVKY3rBxc",
          "mode": "list",
          "cachedResultName": "02.Grupos What",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15uyjT_YzplA5sQfFAkBnj0xAVKY3rBxc"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4460,
        2940
      ],
      "id": "5965a834-3a19-4a00-bd71-021112c14ab6",
      "name": "Upload file _ Grupos1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PPOIxo9BBRJ5gcrd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ace0a3c2-0ad4-4349-ba27-16e0308cc440",
              "name": "id_name-Grupo",
              "value": "={FixedExpression={{ $('Dados').item.json.id_name_Grupo }}FixedExpressionEu{ $('Dados').item.json.id_name_Grupo }}",
              "type": "string"
            },
            {
              "id": "bdf3cc0f-9f62-4211-b69c-567f063c52b2",
              "name": "id",
              "value": "={{ $('Dados').item.json['Cod_Id_content_mensagem_que foi respondidada'] }}",
              "type": "string"
            },
            {
              "id": "2acbea30-d37b-4914-81b7-2c0310db6422",
              "name": "id_name",
              "value": "={{ $('Dados').item.json['id_Quem Enviou_name'] }}",
              "type": "string"
            },
            {
              "id": "5a91b505-62ff-4a78-89a5-3985f19dd889",
              "name": "id_nome_Enviou",
              "value": "={{ $('Dados').item.json[\"Id_ Quem Enviou\"] }}",
              "type": "string"
            },
            {
              "id": "c9fd6f14-fcf6-483f-954a-1fcfc426b5a8",
              "name": "=id_Enviou",
              "value": "={{ $('Dados').item.json.id_Mensagem2 }}",
              "type": "string"
            },
            {
              "id": "f9283f3a-4fc1-47e2-9d77-eed24c0449c2",
              "name": "nome_do_Arquivo",
              "value": "={{ $('Dados').item.json.file_name }}",
              "type": "string"
            },
            {
              "id": "c583f9ad-3d01-413d-9a7e-ef1127742a8a",
              "name": "Conversa_file enviada",
              "value": "=Essas são as informações obitidas no arquivo que foi enviado pelo, {{ $('Dados').item.json['id_Quem Enviou_name'] }}. O nome do arquivo é {{ $('Dados').item.json.file_name }}.\n\nFaça um Resumo Estruturado, sempre em portugues.\n\n_________\nInformações do Arquivo\n\n{{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4420,
        2340
      ],
      "id": "fdcd6bbf-633f-42ee-b3b4-d1e79ad67771",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook_Pin_').item.json.body.data.content.media.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio_user"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3700,
        1940
      ],
      "id": "c94c86a5-2599-49d5-bf71-eb0d684c0202",
      "name": "Dowload3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2834e0a-d4f2-4d74-9f9c-0c5f5644a6de",
              "leftValue": "={{ $('If_Telefones com acesso1').item.json.body.data.recipient.id }}",
              "rightValue": "5511979714123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4020,
        2760
      ],
      "id": "6e78b7d6-f9e0-43ba-a3fa-c96d40b8ac59",
      "name": "If_Quem enviou3"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        4200,
        2340
      ],
      "id": "8c03fc26-c1cd-451e-b6a7-36c2ca40c468",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio_user",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3940,
        1920
      ],
      "id": "ffc2508c-7af8-4e91-9707-ce6c9745c7cd",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "eRdScrmNjihgWoFR",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-deep-research",
        "messages": {
          "message": [
            {
              "content": "="
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        5500,
        3000
      ],
      "id": "d92ca6a8-907f-44e3-8eef-cbc4d84e7681",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "23zESIEgl2GDKQQN",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2834e0a-d4f2-4d74-9f9c-0c5f5644a6de",
              "leftValue": "={{ $('Dados').item.json[\"Id_ Quem Enviou\"] }}",
              "rightValue": "5511979714123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "6a6acc2f-924b-4f86-a6af-327596e9941e",
              "leftValue": "={{ $('Dados').item.json[\"Id_ Quem Enviou\"] }}",
              "rightValue": "5511999458546",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3920,
        2380
      ],
      "id": "e51c9977-e6fc-4670-9b54-615567558730",
      "name": "SÓ Resumo se o FABIO ENVIAR!"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2834e0a-d4f2-4d74-9f9c-0c5f5644a6de",
              "leftValue": "=",
              "rightValue": "5511979714123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ab32d7f9-4259-4449-84bd-08a1465afe1f",
              "leftValue": "={{ $('Webhook_Pin_').item.json.headers['x-instance-phonenumber'] }}",
              "rightValue": "5511915487811",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3740,
        2160
      ],
      "id": "8e9f8326-5b80-4511-88fe-2b463f51f3e2",
      "name": "SÓ RESPONDE PARA O FABIO QANDO RECEBE PRIVADO 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2834e0a-d4f2-4d74-9f9c-0c5f5644a6de",
              "leftValue": "={{ $('Dados').item.json['Id_ Quem Enviou'] }}",
              "rightValue": "5511979714123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ab32d7f9-4259-4449-84bd-08a1465afe1f",
              "leftValue": "={{ $('Dados').item.json.Type }}",
              "rightValue": "chat",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4420,
        1900
      ],
      "id": "081d620a-e088-4460-bf13-21060d2fd176",
      "name": "SÓ RESPONDE PARA O FABIO QANDO RECEBE PRIVADO "
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2834e0a-d4f2-4d74-9f9c-0c5f5644a6de",
              "leftValue": "={{ $('Dados').item.json['Id_ Quem Enviou'] }}",
              "rightValue": "5511979714123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "6a6acc2f-924b-4f86-a6af-327596e9941e",
              "leftValue": "={{ $('Dados').item.json['Id_ Quem Enviou'] }}",
              "rightValue": "5511999458546",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4120,
        1540
      ],
      "id": "3b55676b-b967-4b6c-b67a-91efbbc9169c",
      "name": "SÓ Resumo se o FABIO ENVIAR!1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3040,
        2880
      ],
      "id": "9bc0200a-ab33-4c9e-b8d5-e6228c204613",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3640,
        2320
      ],
      "id": "18ab52c9-00d7-46cf-903b-87c6291ef64d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3480,
        2020
      ],
      "id": "80751abf-09aa-4057-a47f-9562f90bff6e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4140,
        1820
      ],
      "id": "cb055853-6cf1-47dc-9039-81ab535c41ca",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3720,
        1520
      ],
      "id": "093cc1f7-bdb6-41be-9f90-084deb6711cc",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "533e88d8-3b6a-41c8-ad90-d1a655e2068a",
              "leftValue": "={{ $json.body.data.recipient?.owner?.id || $json.body.data.recipient?.sender?.id || $json.body.data.sender.id }}",
              "rightValue": "={{ \"5511979714123\" }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "a4e5c0c4-3264-4bef-a37c-821bfbf0c8eb",
              "leftValue": "={{ $json.body.data.recipient?.owner?.id || $json.body.data.recipient?.sender?.id || $json.body.data.sender.id }}",
              "rightValue": "={{ \"5511999458546\" }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bdefc2fc-cc02-4274-afd7-92a1e3e5206f",
              "leftValue": "={{ $json.body.data.recipient?.owner?.id || $json.body.data.recipient?.sender?.id || $json.body.data.sender.id }}",
              "rightValue": "={{ \"5511912231683\" }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d4f0c5ee-27c7-4713-865d-586afb36f1d0",
              "leftValue": "={{ $json.body.data.recipient?.owner?.id || $json.body.data.recipient?.sender?.id || $json.body.data.sender.id }}",
              "rightValue": "={{ \"5511962760043\" }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2460,
        1320
      ],
      "id": "93c031fa-7930-489d-8ccc-31224c3292e8",
      "name": "If_Telefones com acesso"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21cd9961-74ff-47ac-a518-b6e33a89d1cd",
              "leftValue": "={{ $json.body.data.recipient.id }}",
              "rightValue": "120363401951434489",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0a97b311-2afc-4a70-892c-201e6a0e5cf9",
              "leftValue": "={{ $json.body.data.recipient.id }}",
              "rightValue": "5511979714123",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bf8554e7-17a3-4554-a0bb-b751c62b39ee",
              "leftValue": "={{ $json.body.data.recipient.id }}",
              "rightValue": "551199945854",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4c2b1a53-6cfa-4822-816b-5dacef0ea8ce",
              "leftValue": "={{ $json.body.data.recipient.id }}",
              "rightValue": "5511962760043",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "11f7d00f-a2b1-4ce0-b7a0-486e9b5ed61f",
              "leftValue": "={{ $json.body.data.recipient.id }}",
              "rightValue": "5511999458546-1538133098",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "23275090-6d02-4517-8f4c-e70205dd9cf6",
              "leftValue": "={{ $json.body.data.recipient.id }}",
              "rightValue": "120363172263407692",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5eb1a291-04ff-4962-be94-097891041d58",
              "leftValue": "={{ $json.body.data.recipient.id }}",
              "rightValue": "120363302269829217",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ec08bc5f-3947-457d-8ac7-feaf1665d098",
              "leftValue": "={{ $json.body.data.recipient.id }}",
              "rightValue": "120363044799354502",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2060,
        1680
      ],
      "id": "6eb79d46-c153-4a99-aaeb-a2ddc6f7ab8a",
      "name": "If_Grupos Ou Pessoas liberados1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21cd9961-74ff-47ac-a518-b6e33a89d1cd",
              "leftValue": "={{ $json.group_status }}",
              "rightValue": "Active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f1c9614e-2cd5-4e54-b8f4-51899d227984",
              "leftValue": "={{ $('Dados').item.json.id }}",
              "rightValue": "={{ $json.group_ids }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3320,
        1260
      ],
      "id": "133c9d43-4473-4b44-8b34-4653c5f48423",
      "name": "If_Grupos Ou Pessoas liberados"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "active_group_registration_OFICIAL",
        "filters": {
          "conditions": [
            {
              "keyName": "group_ids",
              "keyValue": "={{ $('Dados').item.json.id_grupo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2840,
        1780
      ],
      "id": "6493dccf-9c2e-4429-ba04-3f5349723d27",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "6SVrwqEuLHDsNj03",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "active_group_registration",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "group_ids",
              "fieldValue": "={{ $json.body.data.recipient.id }}"
            },
            {
              "fieldId": "Nome do group",
              "fieldValue": "={{ $json.body.data.recipient.name }}"
            },
            {
              "fieldId": "group_status",
              "fieldValue": "Blocked"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2180,
        2380
      ],
      "id": "033bba1a-b091-437d-a580-eaafb3788bcd",
      "name": "Identificar Grupo que foi adcionado",
      "credentials": {
        "supabaseApi": {
          "id": "6SVrwqEuLHDsNj03",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "active_tel_OFICIAL",
        "filters": {
          "conditions": [
            {
              "keyName": "group_ids",
              "keyValue": "={{ $json['Id_ Quem Enviou'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2820,
        2120
      ],
      "id": "e42fa503-07c7-4c6d-9aeb-849caabb3e2f",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "6SVrwqEuLHDsNj03",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Type }}",
                    "rightValue": "group",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c4ac9d64-16b9-4bca-8d31-62f6cf6cbdb6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "group"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cacab3d7-a7ba-4ba1-9529-c9fac2de371a",
                    "leftValue": "={{ $json.Type }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2580,
        1920
      ],
      "id": "9123fe2b-993f-4d2a-acfa-9e39d292b5b1",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7d56315-892c-4346-aa48-c5b78b3d4f64",
              "name": "id_date_Hora",
              "value": "={{ $json.body.data.sent_at }}",
              "type": "string"
            },
            {
              "id": "20216f19-2559-4d09-84bd-d0d4d2623533",
              "name": "id_Mensagem2",
              "value": "={{ $json.body.data.id }}",
              "type": "string"
            },
            {
              "id": "15516287-3f43-470f-940a-1d781592e1f8",
              "name": "Cod_Id_content_mensagem_que foi respondidada",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.id }}",
              "type": "string"
            },
            {
              "id": "e2443c63-71ef-4a97-8e73-5533cfc46a2c",
              "name": "Cod_Id_content_mensagem_que foi MARCADA",
              "value": "={{ $json.body.data.content.quoted.id }}",
              "type": "string"
            },
            {
              "id": "ab034656-381e-4fdc-b737-16bc39cd34c5",
              "name": "id_Mensagem",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "459c607c-8076-4f01-a2b3-dbc9c60b88d3",
              "name": "Type",
              "value": "={{ $json.body.data.recipient.type }}",
              "type": "string"
            },
            {
              "id": "9f9336be-209b-4e3c-af03-ead36d10361d",
              "name": "id_grupo",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.id }}",
              "type": "string"
            },
            {
              "id": "dd27aa7d-cb80-45c1-ac93-26dfc2764efe",
              "name": "id_name_Grupo",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.recipient.name }}",
              "type": "string"
            },
            {
              "id": "86c37a2d-c3bf-4952-bdc1-4da94fbe5389",
              "name": "Id_ Quem Enviou",
              "value": "={{ $json.body.data.sender.id }}",
              "type": "string"
            },
            {
              "id": "e9c822ba-11ea-4d5d-bb42-1ce42e297230",
              "name": "id_Quem Enviou_name",
              "value": "={{ $json.body.data.sender.name }}",
              "type": "string"
            },
            {
              "id": "ab7e89e0-c7a7-4ef2-b939-9c7567067840",
              "name": "tipo de msg",
              "value": "={{ $json.body.data.type }}",
              "type": "string"
            },
            {
              "id": "20db8b5f-9f16-4588-83c8-75ae4e5b9134",
              "name": "text",
              "value": "={{ $json.body.data.content.text }}",
              "type": "string"
            },
            {
              "id": "25a81388-309d-4ad3-817b-b1e1e1a40e75",
              "name": "file_name",
              "value": "={{ $('Webhook_Pin_').item.json.body.data.content.media.metadata.fileName }}",
              "type": "string"
            },
            {
              "id": "c785069b-c435-489d-a56b-27d84b642efc",
              "name": "media.url",
              "value": "={{ $json.body.data.content.media.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2380,
        1940
      ],
      "id": "c4d35f89-82cd-44ed-ad0c-ae60ddf54a48",
      "name": "Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21cd9961-74ff-47ac-a518-b6e33a89d1cd",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2180,
        1980
      ],
      "id": "5a218279-86cc-4ffb-9498-4882de80c3f3",
      "name": "If_Grupos Ou Pessoas liberados2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cffc832a-62d5-4f61-abc1-fc9acee494c3",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2480,
        2580
      ],
      "id": "163998db-8ca3-433b-8a78-7a64b1508b58",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "376010ab-262f-4afa-96cd-f1cbd8f0296b",
              "leftValue": "={{ $json.group_status }}",
              "rightValue": "=Active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3080,
        1780
      ],
      "id": "52c40f55-fa73-48b8-a159-6eb70e6a056f",
      "name": "If1"
    }
  ],
  "connections": {
    "Envia msg para o Usuario2": {
      "main": [
        []
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Pin_": {
      "main": [
        [
          {
            "node": "Identificar Grupo que foi adcionado",
            "type": "main",
            "index": 0
          },
          {
            "node": "If_Grupos Ou Pessoas liberados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "If_ Bot mencionado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dowload3",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Dowload2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trancrição imagem1": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta1": {
      "main": [
        [
          {
            "node": "Envia msg para o Usuario3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dowload2": {
      "main": [
        [
          {
            "node": "If_Quem enviou3",
            "type": "main",
            "index": 0
          },
          {
            "node": "SÓ Resumo se o FABIO ENVIAR!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Resposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Telefones com acesso1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If_ Bot mencionado1": {
      "main": [
        [
          {
            "node": "SÓ Resumo se o FABIO ENVIAR!1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        []
      ]
    },
    "Get many items in Hacker News1": {
      "ai_tool": [
        []
      ]
    },
    "Get Supplier1": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dowload3": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Quem enviou3": {
      "main": [
        [
          {
            "node": "Upload _ Fabio Enviou1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file _ Grupos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Envia msg para o Usuario2",
            "type": "main",
            "index": 0
          },
          {
            "node": "SÓ RESPONDE PARA O FABIO QANDO RECEBE PRIVADO ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        []
      ]
    },
    "SÓ Resumo se o FABIO ENVIAR!": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SÓ RESPONDE PARA O FABIO QANDO RECEBE PRIVADO 2": {
      "main": [
        [
          {
            "node": "Trancrição imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SÓ RESPONDE PARA O FABIO QANDO RECEBE PRIVADO ": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SÓ Resumo se o FABIO ENVIAR!1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Grupos Ou Pessoas liberados1": {
      "main": [
        [],
        []
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Grupos Ou Pessoas liberados": {
      "main": [
        []
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "If_Telefones com acesso1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Grupos Ou Pessoas liberados2": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f39e651c-7b45-461a-bc7b-6cc945d83023",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-06-28T15:23:11.573Z",
      "updatedAt": "2025-06-28T15:23:11.573Z",
      "id": "2HhCR0mhhqYWjZSE",
      "name": "Produção"
    }
  ]
}