Xh2MnN6OInGkkff5.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "resumo_dados_site",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "pega_dados_dos_negocios": {
      "ai_tool": [
        [
          {
            "node": "Agente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memória": {
      "ai_memory": [
        [
          {
            "node": "Agente IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ChatInput": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "rapidapi_local-business-search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rapidapi_local-business-search": {
      "main": [
        [
          {
            "node": "separa_itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resumo_dados_site": {
      "main": [
        [
          {
            "node": "inclui_dados_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inclui_dados_planilha": {
      "main": [
        [
          {
            "node": "responde_ia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "separa_itens": {
      "main": [
        [
          {
            "node": "scraping_site_scraptio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scraping_site_scraptio": {
      "main": [
        [
          {
            "node": "resumo_dados_site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-30T03:12:21.967Z",
  "id": "Xh2MnN6OInGkkff5",
  "isArchived": false,
  "meta": null,
  "name": "leads",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        688,
        720
      ],
      "id": "edab328c-dffa-4863-90f7-0339869535f9",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "toolDescription": "Busca dados de estabelecimentos, empresas e serviços a partir de um termo de busca",
        "method": "POST",
        "url": "https://builder.m7growth.com/webhook-test/112bb213-d3a9-442e-8c8a-1f55c890429e",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "termo_de_busca",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        672,
        192
      ],
      "id": "2901e611-d0cc-42de-a0fd-8bab926b2e87",
      "name": "pega_dados_dos_negocios"
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "id": "c2bea0c6-3a79-4742-83d7-a35abd324394",
      "name": "Memória",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        512,
        192
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6f6af5df-ca9e-4a88-8d48-389a167f380f",
      "name": "ChatInput",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        144,
        -32
      ],
      "webhookId": "44c8d075-59d0-431c-9f70-8d428d2dbecb",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "112bb213-d3a9-442e-8c8a-1f55c890429e",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        528
      ],
      "id": "75d9a17b-dc90-479a-8abe-4e26a830e0b0",
      "name": "Webhook",
      "webhookId": "112bb213-d3a9-442e-8c8a-1f55c890429e"
    },
    {
      "parameters": {
        "url": "https://local-business-search.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Webhook').item.json.body.termo_de_busca }}"
            },
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "language",
              "value": "PT"
            },
            {
              "name": "region",
              "value": "br"
            },
            {
              "name": "extract_emails_and_contacts",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "local-business-search.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "SUA_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        528
      ],
      "id": "65c649b6-cc83-4556-9791-1768223aa7d5",
      "name": "rapidapi_local-business-search"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dados Brutos do site: {{ $('scraping_site_scraptio').item.json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "=🧠 **Prompt Ultra-Refinado — Agente de Análise de Negócios para Prospecção**\n\n> Você é um analista empresarial voltado a prospecção. Receberá *apenas* o texto cru (via scraping) de um site corporativo.\n> **Sua tarefa:** condensar, em um **único parágrafo** (50 – 120 palavras), as informações mais relevantes que sustentem uma abordagem comercial estratégica.\n>\n> **Diretrizes obrigatórias**\n>\n> 1. **Conteúdo** – Reúna tudo que o texto revelar ou sugerir sobre: proposta de valor, produtos/serviços, segmentos atendidos, diferenciais competitivos, porte/maturidade, presença geográfica, sinais de crescimento ou inovação, e qualquer pista útil para oportunidades de negócio. Use bom senso para inferir dados implícitos; omita o que não existir.\n> 2. **Forma** – Escreva em português claro, profissional e objetivo, evitando jargões excessivos. Estruture frases fluídas, conectadas, sem marcadores, títulos, quebras de linha extras ou comentários meta-textuais. Não coloque “Resumo:” nem conteúdo antes/depois do parágrafo.\n> 3. **Precisão** – Preserve fatos, nomes próprios e números relevantes; elimine slogans vazios, repetições e detalhes legais irrelevantes.\n> 4. **Utilidade Comercial** – Destaque o que possa servir de gancho para conversas de vendas (ex.: expansão internacional, parcerias estratégicas, foco ESG, adoção de tecnologias emergentes).\n> 5. **Tom** – Neutro-analítico, levemente persuasivo: evidencie valor sem soar promocional.\n>\n> **Saída final** – entregue exclusivamente o parágrafo resumido, sem quaisquer palavras ou caracteres adicionais.\n\nAtenão, quanto você não receber os dados brutos do site deve retornar: \"-\"\n\nSomente isso, sem falar nada antes nem depois."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        672,
        528
      ],
      "id": "7a8ace19-2015-4ae5-a173-b60c7ad51934",
      "name": "resumo_dados_site"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UazuMy1WIt39SeRlToHkCvEbmhydzGD-WjBy3fdpg8c",
          "mode": "list",
          "cachedResultName": "Negócios Extraídos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UazuMy1WIt39SeRlToHkCvEbmhydzGD-WjBy3fdpg8c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UazuMy1WIt39SeRlToHkCvEbmhydzGD-WjBy3fdpg8c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $('separa_itens').item.json.name }}",
            "Endereço": "={{ $('separa_itens').item.json.full_address }}",
            "Cidade": "={{ $('separa_itens').item.json.city }}",
            "CEP": "={{ $('separa_itens').item.json.zipcode }}",
            "Rating": "={{ $('separa_itens').item.json.rating }}",
            "Quantidade de Avaliações": "={{ $('separa_itens').item.json.review_count }}",
            "Site": "={{ $('separa_itens').item.json.website }}",
            "Dados Brutos do Site": "={{ $('scraping_site_scraptio').item.json.data }}",
            "Business_id": "={{ $('separa_itens').item.json.business_id }}",
            "Telefone": "={{ $('separa_itens').item.json.phone_number }}",
            "Estado": "={{ $('separa_itens').item.json.state }}",
            "Resumo": "={{ $('resumo_dados_site').item.json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Business_id",
              "displayName": "Business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Endereço",
              "displayName": "Endereço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cidade",
              "displayName": "Cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CEP",
              "displayName": "CEP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantidade de Avaliações",
              "displayName": "Quantidade de Avaliações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Site",
              "displayName": "Site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resumo",
              "displayName": "Resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dados Brutos do Site",
              "displayName": "Dados Brutos do Site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1024,
        528
      ],
      "id": "3939dc0a-4e8a-42ea-8fb9-d9197232e419",
      "name": "inclui_dados_planilha",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26b63941-4d20-43ff-af60-6b148ce28706",
              "name": "response",
              "value": "Preenchi lá na planilha os negócios que eu encontrei",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        528
      ],
      "id": "56ada2f6-f24e-483c-8dbf-0482791a2ab0",
      "name": "responde_ia"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Prompt do Agente de Prospecção de Negócios\n\nIDENTIDADE E MISSÃO\nVocê é um assistente especializado em prospecção de negócios. Sua função principal é interpretar solicitações de usuários sobre informações de empresas e negócios e acionar a ferramenta pega\\_dados\\_dos\\_negocios para coletar esses dados automaticamente em uma planilha.\n\nFERRAMENTA DISPONÍVEL\nNome: pega\\_dados\\_dos\\_negocios\nParâmetro obrigatório: termo\\_de\\_busca\nDescrição: string no formato \"\\[O que você busca] em \\[Cidade], \\[País/Estado]\". O termo pode ser escrito em português ou em inglês.\n\nDESCRIÇÃO DETALHADA DE termo\\_de\\_busca\nO campo termo\\_de\\_busca é utilizado para encontrar informações sobre estabelecimentos ou serviços em uma localidade específica. O texto pode estar em português ou em inglês e deve seguir esta estrutura:\n\\[O que você busca] em \\[Cidade], \\[País/Estado]\n\n* \\[O que você busca]: tipo de serviço ou estabelecimento (ex.: Hotéis, Restaurantes, Museus).\n* em: palavra fixa \"em\" (ou \"in\", se preferir inglês).\n* \\[Cidade], \\[País/Estado]: nome da cidade e do país ou estado.\n\nEXEMPLOS RÁPIDOS\nIntenção: Hotéis em São Francisco, EUA      -> termo\\_de\\_busca: Hotéis em São Francisco, EUA\nIntenção: Farmácias em Rio de Janeiro       -> termo\\_de\\_busca: Farmácias em Rio de Janeiro, Brasil\nIntenção: Restaurantes japoneses em São Paulo -> termo\\_de\\_busca: Restaurantes japoneses em São Paulo, Brasil\nIntenção: Aeroportos em Londres             -> termo\\_de\\_busca: Aeroportos em Londres, Reino Unido\n\nRESPONSABILIDADES PRINCIPAIS\n\n1. Interpretar solicitações: identificar tipo de negócio, localização e filtros.\n2. Construir o termo\\_de\\_busca: montar a string no formato exigido, em português ou inglês conforme necessário.\n3. Acionar a ferramenta:\n   pega\\_dados\\_dos\\_negocios({ \"termo\\_de\\_busca\": \"\\[consulta]\" })\n4. Confirmar execução: informar ao usuário que os dados foram coletados e adicionados à planilha.\n\nDIRETRIZES DE COMPORTAMENTO\nAo receber uma solicitação:\n\n* Identificar os elementos‑chave.\n* Normalizar os termos e montar o termo\\_de\\_busca no formato correto.\n* Chamar a ferramenta e responder de forma concisa ao usuário.\n\nFORMATO DA RESPOSTA AO USUÁRIO\n\n* Confirmar o que foi solicitado.\n* Informar que a busca foi realizada e que os dados estão na planilha.\n\nEXEMPLOS DE INTERAÇÃO\nExemplo 1\nUsuário: \"Quero informações sobre clínicas médicas no Rio de Janeiro\".\nAgente:\ntermo\\_de\\_busca: Clínicas médicas em Rio de Janeiro, Brasil\nChamada: pega\\_dados\\_dos\\_negocios({ \"termo\\_de\\_busca\": \"Clínicas médicas em Rio de Janeiro, Brasil\" })\nResposta: Busquei e coletei informações sobre clínicas médicas no Rio de Janeiro. Os dados já foram adicionados à sua planilha de prospecção.\n\nExemplo 2\nUsuário: \"Preciso de dados de restaurantes japoneses em São Paulo\".\nAgente:\ntermo\\_de\\_busca: Restaurantes japoneses em São Paulo, Brasil\nChamada: pega\\_dados\\_dos\\_negocios({ \"termo\\_de\\_busca\": \"Restaurantes japoneses em São Paulo, Brasil\" })\nResposta: Coletei informações sobre restaurantes japoneses em São Paulo. Todos os dados foram inseridos na planilha.\n\nExemplo 3\nUsuário: \"Me ajuda a encontrar escritórios de advocacia especializados em direito trabalhista na Zona Sul do Rio\".\nAgente:\ntermo\\_de\\_busca: Escritórios de advocacia trabalhista em Zona Sul Rio de Janeiro, Brasil\nChamada: pega\\_dados\\_dos\\_negocios({ \"termo\\_de\\_busca\": \"Escritórios de advocacia trabalhista em Zona Sul Rio de Janeiro, Brasil\" })\nResposta: Busquei escritórios de advocacia especializados em direito trabalhista na Zona Sul do Rio de Janeiro. As informações já estão disponíveis na sua planilha.\n\nTRATAMENTO DE CASOS ESPECIAIS\nSolicitações ambíguas: pedir esclarecimentos.\nMúltiplas localizações: executar buscas separadas e avisar o usuário.\nSegmentos amplos: sugerir refinamentos.\n\nRESPOSTAS PADRÃO\nApós coleta bem‑sucedida: \"Coletei as informações sobre \\[busca] em \\[local]. Os dados já foram adicionados à sua planilha de prospecção.\"\nQuando precisar de esclarecimentos: \"Para garantir que eu colete as informações mais relevantes, poderia especificar \\[informação faltante]?\"\nPara confirmação: \"Entendi que você precisa de dados sobre \\[busca] em \\[local]. Vou coletar essas informações agora.\"\n\nPRINCÍPIOS IMPORTANTES\n\n* Proatividade: deduzir intenções com informações incompletas quando possível.\n* Precisão: usar o formato exato de termo\\_de\\_busca.\n* Concisão: confirmar a ação sem explicações desnecessárias.\n* Confiabilidade: sempre confirmar quando os dados forem adicionados.\n\nLIMITAÇÕES\n\n* Não fornecer os dados diretamente na conversa.\n* Não analisar nem interpretar os dados coletados.\n* Não sugerir estratégias de prospecção.\n* Focar apenas em coletar e confirmar a inserção dos dados na planilha.\n\nLembre-se: Você é a ponte entre a solicitação do usuário e a coleta automatizada de dados. Interprete corretamente, construa o termo\\_de\\_busca e acione a ferramenta com precisão.\n"
        }
      },
      "id": "40ff2899-d453-4f2a-9846-a1769bde9fb0",
      "name": "Agente IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        432,
        -32
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "06ba629e-632b-49c2-a49b-2c07a18faa63",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        384,
        192
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "FjG7J30aupdcfjED",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### API SCRAPING GOOGLE MAPS\n\nLink: https://rapidapi.com/letscrape-6bRBa3QguO5/api/local-business-search",
        "height": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        352
      ],
      "typeVersion": 1,
      "id": "1a52b93e-714c-4d83-84bc-377d85bdd69f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        528
      ],
      "id": "93d579f8-545b-4a9b-8fd2-297e5278ce1b",
      "name": "separa_itens"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.scraptio.com/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('separa_itens').item.json.website }}"
            },
            {
              "name": "api_key",
              "value": "SUA_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        528
      ],
      "id": "32c433bb-9c73-473a-8a4f-a045bc6c76e3",
      "name": "scraping_site_scraptio",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "### API SCRAPING SITE\n\nLink: https://scraptio.com/",
        "height": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        416
      ],
      "typeVersion": 1,
      "id": "2af6e179-9d51-4a44-bb68-fc4ef08301f5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1104,
        96
      ],
      "id": "aedff384-99f6-4d8a-b53f-aa2925903e06",
      "name": "Create spreadsheet"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "new-n8n-n8n.c0bsko.easypanel.host",
            "user-agent": "axios/1.8.3",
            "content-length": "56",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "new-n8n-n8n.c0bsko.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e50f7f2047a5",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "termo_de_busca": "Imobiliárias em São Paulo, Brasil"
          },
          "webhookUrl": "https://new-n8n-n8n.c0bsko.easypanel.host/webhook/scraping-google-maps",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo": {
    "owner": "lulizzz",
    "name": "m7growth"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-01T12:58:25.754Z",
  "versionId": "cbf88ab6-0d69-4d7a-9211-fdc258954aba"
}